:root {
  /*Farbe Palette werden hier als CSS-Variablen definieren, damit man sie nachher schneller und einfacher mit definierten name rufen kann.*/
  --schwarz: #1b1b1b;
  --grau: #747474;
  --hellGrau: #d6d6d6;
  --blau: #034078;
  --hellBlau: #3b88c6;
}

/********************* FOOTER *********************/
footer {
  color: var(--hellGrau);
  background-color: var(--schwarz);
}
.footerContainer {
  text-align: center;
  padding: 3em;
}

.logoContainer img {
  width: 7em;
}

.footerContainer ul {
  list-style: none;
}

.footerContainer li {
  line-height: 2em;
}

.footerContainer a {
  text-decoration: none;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerContent h2 {
  padding-bottom: 1em;
}

.box a {
  color: var(--hellGrau);
}

.box img {
  width: 2em;
  margin: 1em;
}
.footerUnten {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  padding-bottom: 1em;
  color: var(--grau);
}

.footerUnten p {
  text-align: center;
  padding: 0 2em;
  font-size: 1vw;
}
.footerUnten h4 {
  padding: 0 2em;
  font-size: 1vw;
}

/********************* /FOOTER *********************/