@font-face {
  /* Definieren lokal Font*/
  /*Für mehr unterstützung in verschiedene Browsers wurde hier .ttf, .woff sowie .woff2 deffiniert*/
  font-family: "OpenSans-Light";
  src: url("../Font/OpenSans-Light.ttf"),
    url("../Font/OpenSans-Light.woff") format("woff"),
    url("../Font/OpenSans-Light.woff2") format("woff2");
}
:root {
  /*Farbe Palette werden hier als CSS-Variablen definieren, damit man sie nachher schneller und einfacher mit definierten name rufen kann.*/
  --schwarz: #1b1b1b;
  --grau: #747474;
  --hellGrau: #d6d6d6;
  --blau: #034078;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--hellGrau);
  font-family: "OpenSans-Light";
}
/********************* HEADER *********************/
header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Hier verwenden wir eine CSS-Transformation (skew), um das Ganze schräg zu stellen*/
header > img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  top: 25%;
  margin: 0 10%;
  z-index: 5;
  color: var(--hellGrau);
}

.websiteTitle {
  font-size: 5vw;
  font-weight: bolder;
}

.websiteBeschreibung {
  font-size: 2.5vw;
  font-weight: 600;
  font-style: italic;
  padding-top: 3em;
}

/********************* /HEADER *********************/

/********************* MAIN - TEST *********************/
nav ul {
  display: flex;
  position: sticky;
  width: 40%;
  height: 30%;
  background: var(--grau);
  filter: opacity(5px);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px dashed red;
}

nav li {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: var(--schwarz);
  margin: 0 40px;
}

nav img {
  position: relative;
  width: 150px;
  /* height: 100px; */
  /* background-color: var(--schwarz); */
}
/********************* /MAIN - TEST *********************/

/********************* MAIN *********************/

.trainerTitle {
  text-align: center;
  font-size: 5vw;
}

.trainerTitle p {
  color: var(--schwarz);
}

.line {
  position: absolute;
  width: 8vw;
  border-bottom: 2px solid var(--schwarz);
  left: 50%;
  transform: translate(-50%, -50%);
}

.kursContainer {
  /*Da wir zwei-Dimensionale Layout haben, verwenden wir Grid-Layout*/
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  justify-items: center;
  width: 122vmin;
  margin: 2vmin auto;
  align-items: center;

  grid-template-areas:
    "body body fatburn"
    "body body zumba"
    "yoga sixpack sixpack"
    "step sixpack sixpack"
    "backwork backwork tourde"
    "backwork backwork booty";
}
/*-- 3 größe Kacheln --*/
.BodyKurs,
.bodyKursContainer,
.SixpackKurs,
.BackworkKurs {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  border-radius: 10px;
  background-color: var(--schwarz);
  transition: transform 0.2s;
}
.BodyKurs img,
.SixpackKurs img,
.BackworkKurs img {
  width: 80vmin;
  border-radius: 10px;
}

/*-- 6 kleine Kacheln --*/
.FatburnKurs,
.ZumbaKurs,
.YogaKurs,
.StepKurs,
.TourdeKurs,
.BootyKurs {
  position: relative;
  width: 39vmin;
  height: 39vmin;
  border-radius: 10px;
  background-color: var(--grau);
  text-align: center;
  transition: transform 0.2s;
}
.FatburnKurs img,
.ZumbaKurs img,
.YogaKurs img,
.StepKurs img,
.TourdeKurs img,
.BootyKurs img {
  width: 39vmin;
  border-radius: 10px;
}

.container h1 {
  position: absolute;
  text-align: start;
  padding-left: 3vmin;
  bottom: 1vmin;
  color: var(--hellGrau);
  font-size: 8vmin;
}

/*--  3 schichtige Hoverover-Effekt-Shatten -> src: brumm.af <--*/
.container:hover {
  box-shadow: 0 0px 4.6px rgba(0, 0, 0, 0.278),
    0 0px 15.4px rgba(0, 0, 0, 0.411), 0 0px 69px rgba(0, 0, 0, 0.69);
  transform: scale(1.05);
  z-index: 2;
  cursor: pointer;
}
.container:hover img {
  filter: blur(5px);
  transition: 0.3s all;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  bottom: 0;
  vertical-align: middle;
  border-radius: 10px;
  color: var(--hellGrau);
  background-color: rgba(40, 40, 40, 0.5);
  display: none;
}
.container:hover .overlay {
  display: block;
  transition: 0.3s all;
}

.text-Overlay {
  position: relative;
  top: 33%;
  font-size: 5vw;
  font-weight: bolder;
}
.text-Overlay span {
  display: block;
  font-size: 1vw;
}

/*definieren BodyKurs grid-area-name,*/
.BodyKurs {
  grid-area: body;
}

/*definieren SixpackKurs grid-area-name*/
.SixpackKurs {
  grid-area: sixpack;
}
/*definieren BackworkKurs grid-area-name*/
.BackworkKurs {
  grid-area: backwork;
}
/*definieren FatburnKurs grid-area-name, img und title und hover*/
.FatburnKurs {
  grid-area: fatburn;
}
/*definieren ZumbaKurs grid-area-name, img und title und hover*/
.ZumbaKurs {
  grid-area: zumba;
}
/*definieren YogaKurs grid-area-name, img und title und hover*/
.YogaKurs {
  grid-area: yoga;
}
/*definieren StepKurs grid-area-name, img und title und hover*/
.StepKurs {
  grid-area: step;
}
/*definieren TourdeKurs grid-area-name, img und title und hover*/
.TourdeKurs {
  grid-area: tourde;
}
/*definieren BootyKurs grid-area-name, und hover*/
.BootyKurs {
  grid-area: booty;
}

/********************* /MAIN *********************/

/********************* FOOTER *********************/
footer {
  color: var(--hellGrau);
  background-color: var(--schwarz);
}
.footerContainer {
  text-align: center;
  padding: 3em;
}

.logoContainer img {
  width: 7em;
}

.footerContainer ul {
  list-style: none;
}

.footerContainer li {
  line-height: 2em;
}

.footerContainer a {
  text-decoration: none;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerContent h2 {
  padding-bottom: 1em;
}

.box a {
  color: var(--hellGrau);
}

.box img {
  width: 2em;
  margin: 1em;
}
.footerUnten {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3em;
  padding-bottom: 1em;
  color: var(--grau);
}

.footerUnten p {
  text-align: center;
  padding: 0 2em;
  font-size: 1vw;
}
.footerUnten h4 {
  padding: 0 2em;
  font-size: 1vw;
}

/********************* /FOOTER *********************/

/********************* RESPONSIVE DESIGN *********************/

/*-_-_-_- Mobile-Geräten - bis 480ps -_-_-_-*/
@media screen and (min-width: 50px) and (max-width: 480px) {
  header {
    height: 45vmin;
  }
  header img {
    height: 45vmin;
  }
  .titleContainer {
    top: 15%;
  }
  .websiteTitle {
    font-size: 7vmin;
  }
  .websiteBeschreibung {
    font-size: 3.5vmin;
  }

  .kursContainer {
    /*Da wir zwei-Dimensionale Layout haben, verwenden wir Grid-Layout*/
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding: 5vmin 0;
  }

  .container {
    position: relative;
    width: 80vmin;
    height: 80vmin;
    border-radius: 10px;
    background-color: var(--grau);
    text-align: center;
    transition: transform 0.2s;
  }

  .text-Overlay {
    top: 36%;
    font-size: 15vw;
  }
  .text-Overlay span {
    font-size: 5vw;
  }

  .container img {
    width: 80vmin;
    border-radius: 10px;
  }

  .footerContent {
    flex-direction: column;
  }
  .footerContent li {
    font-size: 4vw;
    line-height: 4vh;
  }

  .footerUnten p {
    font-size: 3vw;
  }
  .footerUnten h4 {
    font-size: 3vw;
  }
}

/*-_-_-_- iPad,Tablets-Geräten - bis 768px -_-_-_-*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  header {
    height: 65vmin;
  }
  header img {
    height: 65vmin;
  }

  .titleContainer {
    top: 20%;
  }
  .websiteTitle {
    font-size: 7vmin;
  }
  .websiteBeschreibung {
    font-size: 4vmin;
  }

  .kursContainer {
    /*Da wir zwei-Dimensionale Layout haben, verwenden wir Grid-Layout*/
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    width: 90vmin;
    margin: 2vmin auto;
    align-items: center;

    grid-template-areas:
      "body fatburn"
      "yoga  zumba"
      "sixpack step"
      "backwork tourde "
      "booty  .";
  }
  .container {
    position: relative;
    width: 15em;
    height: 15em;
    border-radius: 10px;
    background-color: var(--grau);
    text-align: center;
    transition: transform 0.2s;
  }
  .container img {
    width: 15em;
    border-radius: 10px;
  }

  .container h1 {
    position: absolute;
    text-align: start;
    padding-left: 2vmin;
    bottom: 1vmin;
    color: var(--hellGrau);
    font-size: 6vmin;
  }

  .overlay {
    width: 15em;
    height: 15em;
  }

  .text-Overlay {
    top: 30%;
    font-size: 9vw;
  }
  .text-Overlay span {
    font-size: 3vw;
  }

  /*--  3 schichtige Hoverover-Effekt-Shatten -> src: brumm.af <--*/
  .container:hover {
    box-shadow: 0 0px 4.6px rgba(0, 0, 0, 0.278),
      0 0px 15.4px rgba(0, 0, 0, 0.411), 0 0px 69px rgba(0, 0, 0, 0.69);
    transform: scale(1.05);
    z-index: 9;
    cursor: pointer;
  }
}

/*-_-_-_- Kleine Bildschirm, Laptops - bis 1024 -_-_-_-*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 65vmin;
  }
  header img {
    height: 65vmin;
  }

  .titleContainer {
    top: 20%;
  }
  .websiteTitle {
    font-size: 7vmin;
  }
  .websiteBeschreibung {
    font-size: 4vmin;
  }

  .kursContainer {
    /*Da wir zwei-Dimensionale Layout haben, verwenden wir Grid-Layout*/
    display: grid;
    /* justify-content: space-evenly; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-items: center;
    width: 90vmin;
    margin: 2vmin auto;
    align-items: center;

    grid-template-areas:
      "body fatburn yoga"
      "zumba sixpack step"
      "backwork tourde booty";
  }
  .container {
    position: relative;
    width: 15em;
    height: 15em;
    border-radius: 10px;
    background-color: var(--grau);
    text-align: center;
    transition: transform 0.2s;
  }
  .container img {
    width: 15em;
    border-radius: 10px;
  }

  .container h1 {
    position: absolute;
    text-align: start;
    padding-left: 1vmin;
    bottom: 1vmin;
    color: var(--hellGrau);
    font-size: 6vmin;
  }

  .overlay {
    width: 15em;
    height: 15em;
  }

  /*--  3 schichtige Hoverover-Effekt-Shatten -> src: brumm.af <--*/
  .container:hover {
    box-shadow: 0 0px 4.6px rgba(0, 0, 0, 0.278),
      0 0px 15.4px rgba(0, 0, 0, 0.411), 0 0px 69px rgba(0, 0, 0, 0.69);
    transform: scale(1.05);
    z-index: 9;
    cursor: pointer;
  }
}
